<!DOCTYPE html>
<aside class="col-2 bg-white ml-0 px-0" th:if="${#request.getRequestURI().contains('admin')}"
       xmlns:th="http://www.thymeleaf.org">
    <a class="btn btn-primary w-100 text-left" href="/admin/" th:if="${principal.getRoles().hasRole('ADMIN')}">Admin</a>
    <a class="btn w-100 text-left" href="/user">User</a>
</aside>
<aside class="col-2 bg-white ml-0 px-0" th:if="${!#request.getRequestURI().contains('admin')}"
       xmlns:th="http://www.thymeleaf.org">
    <a class="btn w-100 text-left" href="/admin/" th:if="${principal.getRoles().hasRole('ADMIN')}">Admin</a>
    <a class="btn btn-primary w-100 text-left" href="/user">User</a>
</aside>