<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="bg-light">
<div th:replace="/layout/header"></div>
<div class="container-fluid row w-100 h-100 mt-4">
    <div th:replace="/layout/aside"></div>
    <section class="col-10">
        <h1>Admin panel</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id="user-table-btn" class="nav-link" href="/admin/">Users table</a>
                </li>
                <li class="nav-item">
                    <a id="new-user-btn" class="nav-link active" href="#">New User</a>
                </li>
            </ul>
            <h2 id="page-heading" class="bg-light m-0 p-2 border-left border-right">Add new user</h2>
        </div>
        <div class="bg-white p-4 border">
            <form id="new-user-form" th:object="${user}" th:method="post" th:action="@{/admin/add}" class="col-4 mx-auto">
                <p class="">
                <div class="alert alert-danger" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">Error</div>
                <label for="firstName" class="font-weight-bold text-center w-100">First name</label>
                <input th:field="*{firstName}" class="form-control" id="firstName" name="firstName" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Error</div>
                <label for="lastName" class="font-weight-bold text-center w-100">Last name</label>
                <input th:field="*{lastName}" class="form-control" id="lastName" name="lastName" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Error</div>
                <label for="age" class="font-weight-bold text-center w-100">Age</label>
                <input th:field="*{age}" class="form-control" id="age" name="age" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Error</div>
                <label for="email" class="font-weight-bold text-center w-100">Email</label>
                <input th:field="*{username}" class="form-control" id="email" name="email" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Error</div>
                <label for="password" class="font-weight-bold text-center w-100">Password</label>
                <input th:field="*{password}" class="form-control" id="password" name="password" type="password">
                </p>
                <p class="">
<!--                <div class="alert alert-danger" th:errors="*{roles.roles}" th:if="${#fields.hasErrors('username')}">Error</div>-->
                <label for="roles" class="font-weight-bold text-center w-100">Roles</label>
                <select th:field="*{roles.roles}" class="form-control h-3" name="roles" id="roles" multiple style="height: 60px">
                    <option th:each="role : ${roles}" th:text="${role.getView()}" th:value="${role}"></option>
                </select>
                </p>
                <input type="submit" value="Add new user" class="btn btn-success mx-auto d-block">
            </form>
        </div>
    </section>
</div>
</body>
</html>

