<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="bg-light">
<div th:replace="/layout/header"></div>
<div class="container-fluid row w-100 h-100 mt-4">
    <div th:replace="/layout/aside"></div>
    <section class="col-10">
        <h1>Admin panel</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/" id="user-table-btn">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="new-user-btn">New User</a>
                </li>
            </ul>
            <h2 class="bg-light m-0 p-2 border-left border-right" id="page-heading">Add new user</h2>
        </div>
        <div class="bg-white p-4 border">
            <form class="col-4 mx-auto" id="new-user-form" th:action="@{/admin/add}" th:method="post"
                  th:object="${user}">
                <p class="">
                <div class="alert alert-danger" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">
                    Error
                </div>
                <label class="font-weight-bold text-center w-100" for="firstName">First name</label>
                <input class="form-control" id="firstName" name="firstName" th:field="*{firstName}" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Error
                </div>
                <label class="font-weight-bold text-center w-100" for="lastName">Last name</label>
                <input class="form-control" id="lastName" name="lastName" th:field="*{lastName}" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Error</div>
                <label class="font-weight-bold text-center w-100" for="age">Age</label>
                <input class="form-control" id="age" name="age" th:field="*{age}" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Error
                </div>
                <label class="font-weight-bold text-center w-100" for="email">Email</label>
                <input class="form-control" id="email" name="email" th:field="*{username}" type="text">
                </p>
                <p class="">
                <div class="alert alert-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Error</div>
                <label class="font-weight-bold text-center w-100" for="password">Password</label>
                <input class="form-control" id="password" name="password" th:field="*{password}" type="password">
                </p>
                <p class="">
                    <label class="font-weight-bold text-center w-100" for="roles">Roles</label>
                    <select class="form-control h-3" id="roles" multiple name="roles" style="height: 60px"
                            th:field="*{roles.roles}">
                        <option selected th:selected="${role}" th:each="role : ${roles}" th:text="${role.getView()}" th:value="${role}"></option>
                    </select>
                </p>
                <input class="btn btn-success mx-auto d-block" type="submit" value="Add new user">
            </form>
        </div>
    </section>
</div>
</body>
</html>

