<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="bg-light">
<div th:replace="/layout/header"></div>
<div class="container-fluid row w-100 h-100 mt-4">
    <div th:replace="/layout/aside"></div>
    <section class="col-10">
        <h1>Admin panel</h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="user-table-btn">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/add" id="new-user-btn">New User</a>
                </li>
            </ul>
            <h2 class="bg-light m-0 p-2 border-left border-right" id="page-heading">All users</h2>
        </div>
        <div class="bg-white p-4 border">
            <table class="table table-inner table-striped px-3" id="user-table">
                <thead>
                <tr>
                    <td class="font-weight-bold">ID</td>
                    <td class="font-weight-bold">First Name</td>
                    <td class="font-weight-bold">Last Name</td>
                    <td class="font-weight-bold">Age</td>
                    <td class="font-weight-bold">Email</td>
                    <td class="font-weight-bold">Role</td>
                    <td class="font-weight-bold">Edit</td>
                    <td class="font-weight-bold">Delete</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getRoles()}"></td>
                    <td>
                        <button class="btn btn-info" data-target="#edit-modal" data-toggle="modal" type="button">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" data-target="#delete-modal" data-toggle="modal" type="button">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="delete-modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="col-6 mx-auto" id="delete-new-user-form" th:action="@{/admin/delete}" th:method="post">
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="delete-firstName">First name</label>
                        <input class="form-control" disabled id="delete-firstName" name="firstName" type="text">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="delete-lastName">Last name</label>
                        <input class="form-control" disabled id="delete-lastName" name="lastName" type="text">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="delete-age">Age</label>
                        <input class="form-control" disabled id="delete-age" name="age" type="text">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="delete-email">Email</label>
                        <input class="form-control" disabled id="delete-email" name="email" type="text">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="delete-role">Role</label>
                        <select class="form-control h-3" disabled id="delete-role" multiple name="role"
                                style="height: 60px">
                            <option>User</option>
                            <option>Admin</option>
                        </select>
                    </p>
                    <input class="form-control" style="display: none" th:name="id" type="text">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-danger" id="delete-submit-btn" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade" id="edit-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="col-6 mx-auto" id="edit-new-user-form" th:action="@{/admin/update}" th:method="post"
                      th:object="${user}">
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="edit-id">ID</label>
                        <input class="form-control" disabled id="edit-id" type="text">
                    </p>
                    <input class="form-control" th:field="*{id}" th:name="id" type="hidden">
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="edit-firstName">First name</label>
                        <input class="form-control" id="edit-firstName" th:field="*{firstName}" th:name="firstName"
                               type="text">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="edit-lastName">Last name</label>
                        <input class="form-control" id="edit-lastName" th:field="*{lastName}" th:name="lastName"
                               type="text">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="edit-age">Age</label>
                        <input class="form-control" id="edit-age" max="100" min="1" th:field="*{age}" th:name="age"
                               type="number">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="edit-email">Email</label>
                        <input class="form-control" id="edit-email" th:field="*{username}" th:name="username"
                               type="text">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="edit-password">Password</label>
                        <input class="form-control" id="edit-password" th:field="*{password}" th:name="password"
                               type="password" autocomplete="off">
                    </p>
                    <p class="">
                        <label class="font-weight-bold text-center w-100" for="edit-role">Role</label>
                        <select class="form-control h-3" id="edit-role" multiple style="height: 60px"
                                th:field="*{roles.roles}" th:name="roles">
                            <option th:each="role : ${roles}" th:text="${role.getView()}" th:value="${role}"></option>
                        </select>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="edit-submit-btn" type="button">Edit</button>
            </div>
        </div>
    </div>
</div>
</body>
<!--form autofill-->
<script defer>
    let rows = document.querySelectorAll("#user-table tbody tr");

    rows.forEach(row => {
        let deleteBtn = row.querySelector(".btn-danger")
        let editBtn = row.querySelector(".btn-info")

        let cols = row.querySelectorAll("td");

        let id = cols[0].innerHTML;
        let firstName = cols[1].innerHTML;
        let lastName = cols[2].innerHTML;
        let age = cols[3].innerHTML;
        let email = cols[4].innerHTML;
        let role = cols[5].innerHTML;

        let deleteForm = document.querySelector("#delete-modal form");
        let editForm = document.querySelector("#edit-modal form");

        let deleteInputs = deleteForm.querySelectorAll("input.form-control");
        let editInputs = editForm.querySelectorAll("input.form-control");

        deleteBtn.onclick = (e) => {
            deleteInputs[0].value = firstName;
            deleteInputs[1].value = lastName;
            deleteInputs[2].value = age;
            deleteInputs[3].value = email;
            deleteInputs[4].value = id;
        }

        editBtn.onclick = (e) => {
            editInputs[0].value = id;
            editInputs[1].value = id;
            editInputs[2].value = firstName;
            editInputs[3].value = lastName;
            editInputs[4].value = age;
            editInputs[5].value = email;
        }

        let editModalBtn = document.querySelector("#edit-modal .btn-primary");
        let deleteModalBtn = document.querySelector("#delete-modal .btn-danger");

        deleteModalBtn.onclick = (e) => {
            deleteForm.submit();
        }
        editModalBtn.onclick = (e) => {
            editForm.submit();
        }
    })
</script>
</html>

