<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <style>
        .error {
            background-color: rgba(255, 0, 0, 0.3);
            color: black;
        }

        .form-row {
            margin: 30px;
        }
    </style>
</head>
<body>
<div th:replace="/layout/header"></div>
<form th:action="@{/admin/add}" th:method="post" th:object="${user}">
    <div class="form-row" style="visibility: hidden">
        <label for="id">ID:</label>
        <input id="id" name="id" th:field="*{id}" type="text">
    </div>
    <div class="form-row">
        <div class="error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Error</div>
        <label for="username">username:</label>
        <input id="username" name="username" th:field="*{username}" type="text">
    </div>
    <div class="form-row">
        <div class="error" th:errors="*{password}" th:if="${#fields.hasErrors('username')}">Error</div>
        <label for="password">password:</label>
        <input id="password" name="password" th:field="*{password}" type="text">
    </div>
    <div class="form-row">
        <div class="error" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">Error</div>
        <label for="firstName">firstName:</label>
        <input id="firstName" name="firstName" th:field="*{firstName}" type="text">
    </div>
    <div class="form-row">
        <div class="error" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Error</div>
        <label for="lastName">lastName:</label>
        <input id="lastName" name="lastName" th:field="*{lastName}" type="text">
    </div>
    <div class="form-row">
        <label for="role">Role:</label>
        <select id="role" multiple name="role" th:field="*{role}">
            <option th:each="role : ${roles}" th:text="${role.getView()}" th:value="${role}"></option>
        </select>
    </div>
    <button type="submit">Update</button>
</form>
</body>
</html>