<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="bg-light">
<div th:replace="/layout/header"></div>
<div class="container-fluid row w-100 h-100 mt-4">
    <div th:replace="/layout/aside"></div>
    <section class="col-10">
        <h1>User information-page</h1>
        <div>
            <h2 id="page-heading" class="bg-light m-0 p-2 border-left border-right border-top">About user</h2>
        </div>
        <div class="bg-white p-4 border">
            <table id="user-table" class="table table-inner table-striped px-3">
                <thead>
                <tr>
                    <td class="font-weight-bold">ID</td>
                    <td class="font-weight-bold">First Name</td>
                    <td class="font-weight-bold">Last Name</td>
                    <td class="font-weight-bold">Age</td>
                    <td class="font-weight-bold">Email</td>
                    <td class="font-weight-bold">Role</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${principal.getId()}"></td>
                    <td th:text="${principal.getFirstName()}"></td>
                    <td th:text="${principal.getLastName()}"></td>
                    <td th:text="${principal.getAge()}"></td>
                    <td th:text="${principal.getUsername()}"></td>
                    <td th:text="${principal.getRoles()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>

